body{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    margin-bottom: 40px;

}
#numero1, #numero2{
    font-size: 50px;
    border: 1px solid black;
    color: red;
    margin-right: 280px;
    margin-bottom: 50px;
    border-radius: 25%;
    padding: 5px;

}
#vincitore{
    font-size: 50px;
    color: white;
}
.dadi{
    background-image: url(../img/dadi.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}